
.skill {
  margin: -10px 0;
  padding: 0;
  list-style-type: none;
}
.skill li {
  float: left;
  width: 33.33%;
  text-align: center;
  margin: 10px 0;
}
.skill dl {
  position: relative;
  margin: 0;
}
.skill dt {
  width: 66px;
  height: 66px;
  background: url("./circle_01.png");
  margin: 0 auto;
  border-radius: 50%;
  animation: skill infinite 4s cubic-bezier(.54,-0.65,.52,1.68);
}
.skill li:nth-of-type(even) dt {
  background: url("./circle_02.png");
}
.skill li:nth-of-type(3) dt {
  animation: skill infinite 5s cubic-bezier(.54,-0.65,.52,1.68);
}
.skill li:nth-of-type(6) dt {
  animation: skill_02 infinite 4.5s cubic-bezier(.54,-0.65,.52,1.68);
}
.skill li:nth-of-type(2) dt {
  animation: skill_02 infinite 5.5s cubic-bezier(.54,-0.65,.52,1.68);
}
.skill li:nth-of-type(4) dt {
  animation: skill_02 infinite 6s cubic-bezier(.54,-0.65,.52,1.68);
}
.skill li:nth-of-type(5) dt {
  animation: skill infinite 3.5s cubic-bezier(.54,-0.65,.52,1.68);
}
.skill div{
  animation: skill infinite 5s cubic-bezier(.54,-0.65,.52,1.68);
}
@keyframes skill {
  0% {transform: rotate(0deg); box-shadow: none;}
  50% {box-shadow: 0 0 10px var(--primary), inset 0 0 20px var(--primary);}
  100% {transform: rotate(720deg); box-shadow: none;}
}
@keyframes skill_02 {
  0% {transform: rotate(0deg); box-shadow: none;}
  50% {box-shadow: 0 0 10px var(--secondary), inset 0 0 20px var(--secondary);}
  100% {transform: rotate(720deg); box-shadow: none;}
}
.skill dd {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  color: var(--bright);
  font-size: 14px;
  animation: skill_text infinite 4s cubic-bezier(.54,-0.65,.52,1.68);
}
.skill li:nth-of-type(3) dd {
  animation: skill_text infinite 5s cubic-bezier(.54,-0.65,.52,1.68);
}
.skill li:nth-of-type(6) dd {
  animation: skill_text_02 infinite 4.5s cubic-bezier(.54,-0.65,.52,1.68);
}
.skill li:nth-of-type(2) dd {
  animation: skill_text_02 infinite 5.5s cubic-bezier(.54,-0.65,.52,1.68);
}
.skill li:nth-of-type(4) dd {
  animation: skill_text_02 infinite 6s cubic-bezier(.54,-0.65,.52,1.68);
}
.skill li:nth-of-type(5) dd {
  animation: skill_text infinite 3.5s cubic-bezier(.54,-0.65,.52,1.68);
}
@keyframes skill_text {
  0%,100% {color: var(--bright); text-shadow: none;}
  50% {color: var(--primary); text-shadow: 0 0 6px var(--primary);}
}
@keyframes skill_text_02 {
  0%,100% {color: var(--bright); text-shadow: none;}
  50% {color: var(--secondary); text-shadow: 0 0 6px var(--secondary);}
}
.skill div {
  color: var(--bright);
  margin: 5px 0 0;
  transform: scale(0.9);
}
.skill .sm {
  display: none;
}